.container-login {
	width: 90%;
	margin: auto;
}

.titulo-login-cad{
	margin-top: 19%;
	margin-left: 6%;
	font-weight: 600;
	font-size: 22px;
	line-height: 28px;
	color: black;
	margin-bottom: 4%;
}

.container-imagem {
	margin-top: 30px;
	width: 100%;
	align-items: center;
	margin-bottom: -30px;
}

.img-logo {
	width: 30%;
	margin: auto;
}

.link {
	width: 90%;
	margin: auto;
	text-align: right;
}

a {
	color: black;
	font-size: 14px;
	font-weight: 500;
	margin-right: 12px;
	text-decoration: none;
}

.container-botao {
  --background:	#ffffff;
	margin-top: 20px;
	width: 100%;
	margin-bottom: 5%;
}

.botao-login {
	width: 84%;
	margin: auto;
	color: #000000;
	--background:	#ffffff;
	--border-radius: 10px;
	text-transform: capitalize;
	font-size: 17px;
	font-weight: 700;
	margin-bottom: 4%;
}

.botao-cadastro {
	width: 54%;
	margin: auto;
	color: #000000;
	--background:	#ffffff;
	--border-radius: 10px;
	text-transform: capitalize;
	font-size: 17px;
	font-weight: 700;
	margin-bottom: 3%;
}

.p-cadastro{
	text-align: center;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: #000000;
}

h2 {
	color: #ffffff;
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	margin-top: 55px;
	margin-bottom: -10px;
}

.input-login {
	--padding-start: 4%;
}

.rodape{
	font-weight: 400;
	font-size: 12px;
	color: #ffffff;
	text-align: center;
	margin-top: 50%;
}
