<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="content-basico">
  <div class="container-login">
    <h2 class="container-user">Usuários</h2>

    <div *ngIf="segmentChange == 'visualizar'">
      <ion-list>
        <ion-item>
          <ion-label><b>Nome</b></ion-label>
          <ion-label><b>CPF</b></ion-label>
        </ion-item>
        <ion-item
          *ngFor="let user of userVetor; let i=index">
          <ion-label>{{user.nome}}</ion-label>
          <ion-label>{{user.cpf}}</ion-label>
        </ion-item>
      </ion-list>
    </div>

  </div>
</ion-content>
