.container-user {
  margin-left: 1rem;
}

.div-info {
  margin-left: 1.5rem;
}

.img-logo {
  width: 30%;
  margin: auto;
}

.container-imagem {
  width: 100%;
  align-items: center;
  margin-bottom: -30px;
}

.segment {
  --background: #ffffff;

}

.segment-button:active {
  background-color: #002fff;
}

